body {
  background: url(/assets/bg/1.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  font-family: 'Bubblegum Sans', cursive;
}

.hide {
  display: none;
}

.register-card {
  width: 550px;
  background: #ffffffe6;
  margin: auto;
  margin-top: 15vh;
  height: 450px;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 1px 1px 30px #00000073;
  text-align: center;
}

.logo-wrapper {
  border-bottom: 1px solid #0000001f;
  padding-bottom: 0px;
}
.logo {
  margin-left: -25px;
  max-height: 80px;
  display: inline-block;
}

.logo-text {
  font-size: 48px;
  color: #ffec01;
  text-shadow: 1px 1px 10px #00000094;
  margin: 0px 0px 25px 15px;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}

.main-heading {
  font-size: 45px;
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 10px #000000e0;
}

.text-input {
  border-radius: 5px;
  border: 0px;
  box-shadow: 1px 1px 5px #0000005e;
  padding: 14px 20px;
  margin: 15px 10px;
  width: calc(100% - 60px);
  font-size: 16px;
}

.half-input {
  width: calc(50% - 60px);
}

.highlight {
  box-shadow: 1px 1px 10px #ff00006b;
}

.btn {
  border-radius: 5px;
  border: 0px;
  box-shadow: 1px 1px 5px #0000005e;
  padding: 14px 20px;
  margin: 15px 10px;
  width: calc(100% - 20px);
  font-size: 24px;
  background: #97be11;
  color: white;
  text-shadow: 1px 1px 3px #000000b8;
  letter-spacing: 1.3px;
}

.btn-next {
  cursor: pointer;
}

.btn-complete {
  cursor: pointer;
}

.btn-back {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #0000002e;
  float: left;
  margin-top: 10px;
  position: relative;
  margin-right: -60px;
  background: #62b77a;
}

.checkbox-input {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: sub;
}

.terms-text {
  display: inline-block;
  font-size: 18px;
  margin: 5px;
}

.message {
  max-width: 300px;
}

.translations {
  text-align: right;
  height: 24px;
  margin-top: -15px;
}

.translation {
  width: 24px;
  height: 24px;
  margin: 0px 5px;
  cursor: pointer;
}

/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 94px;
  height: 94px;
  margin-top: 30px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #ffec01;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 18px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 46px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 65px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
